/* root   */


* {
    box-sizing: border-box;
  }

.heading {
    display: block;
    background: #13293d;
}

li {
   /* creating a horizontal list of links */
   display: inline; 
}

a {
    display: inline-block;
    text-align: center;
    padding: 8px;
}

/* for class "scrollmenu" */
.scrollmenu {
    color: lightblue;
    text-align: right;
}



.subtitle {
    background-image: url("../images/portfolio_background.jpeg");
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

figure h2 {
    display: block;
    background-color: lightblue;
    color: black;
    text-align: right;
}



/* for class "about_me" */

/* for class "work" */
.work {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

.row {
    display: flex; 
    padding: 10px;
}


   /* container1 - Container holding the image and the text */
.container1 {
    position: relative;
    flex: 100%;
    /* max-width: 100%; */
    margin: 5px 20px;
    border: 10px solid lightblue;

} 
    /* container2,3,4,5 - Container holding the image and the text */
.container2, .container3, .container4, .container5 {
    float: left;
    position: relative;
    flex: 50%;
    /* max-width: 50%; */
    margin: 5px 10px;
    border: 10px solid lightblue;
}

.container1 img, .container2 img, .container3 img, .container4 img, .container5 img {
    display:block;
    max-width: 100%;
    max-height: 100%;
}

    /* Bottom left text */
.text-block1, .text-block2, .text-block3, .text-block4, .text-block5 {
    position: absolute;
    bottom: 20px;
    left: 10px;
    background-color: lightblue;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}
  /* for Responsive Images */
/* .image-responsive {
    width: 100%;
    height: auto;
} */

/* for class "contact_me" */
.contact_me ul {
    text-align: center;
}

.contact_me li {
    display: inline-block;
}

footer {
    text-align: right;
}